.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background: #3683ff;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background: white;
    color: black;
  }

  &.google-sign-in {
    width: 100%;
    background: white;
    color: black;
    margin-left: 5%;

    &:hover {
      background: #3683ff;
      color: white;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .custom-button {
    &.google-sign-in {
      width: unset;
      margin-left: 1em;
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .custom-button {
    &.google-sign-in {
      width: unset;
      margin-left: 1em;
    }
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .custom-button {
    &.google-sign-in {
      width: unset;
      margin-left: 1em;
    }
  }
}
