.registerNew-picture {
  width: 510px;
  display: flex;
  align-items: center;

  img {
    max-width: 500px;
    height: auto;
    border: 5px solid #5f9bfc;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
  }
}
