.registerNew-picture {
  width: 510px;
  display: flex;
  align-items: center;

  img {
    max-width: 500px;
    height: auto;
    border: 5px solid #5f9bfc;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
  }
}

@media only screen and (max-width: 425px) {
  .registerNew-picture {
    width: 250px;

    img {
      max-width: 250px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .registerNew-picture {
    width: 200px;

    img {
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .registerNew-picture {
    width: 200px;

    img {
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .registerNew-picture {
    width: 510px;

    img {
      max-width: 500px;
    }
  }
}
