.authentication-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media only screen and (min-width: 768px) {
  .authentication-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .authentication-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .authentication-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }
}

@media only screen and (min-width: 2560px) {
  .authentication-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15rem;
    margin-right: 39%;
  }
}
