.collection-item-container {
  min-width: 20%;
  max-width: 20%;
  height: 450px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 7.5px 15px;
  margin-bottom: 2em;
  overflow: hidden;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;

  &:hover {
    cursor: pointer;

    & .collection-item-bg {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .collection-item-content {
      opacity: 0.75;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .collection-item-bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .collection-item-content {
    font-family: "Concert One", cursive;
    height: 120px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    margin-bottom: 0.5em;

    .collection-item-title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 0.75em;
      color: #000000;
    }

    .collection-item-subtitle {
      max-width: 250px;
      color: #4a4a4a;
      font-size: 0.4em;
    }
  }
}

@media only screen and (max-width: 425px) {
  .collection-item-container {
    width: 85%;
    max-width: unset;
    min-width: unset;

    .collection-item-content {
      height: fit-content;
      width: 225px;
      font-size: 2em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .collection-item-container {
    width: 30%;
    max-width: unset;
    min-width: unset;

    .collection-item-content {
      height: fit-content;
      width: 185px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .collection-item-container {
    max-width: 35%;

    .collection-item-content {
      height: fit-content;
      width: 200px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .collection-item-container {
    .collection-item-content {
      height: fit-content;
      width: 200px;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .collection-item-container {
    .collection-item-content {
      font-size: 1.5em;
      height: fit-content;
    }
  }
}
