.ajs-message.ajs-success {
  font-family: "Concert One", cursive;
  font-size: 0.5em;
  text-align: center;
  color: #ffffff;
  background-color: #5f9bfc;
  border-color: #ffffff;
}

.ajs-message.ajs-error {
  font-family: "Concert One", cursive;
  font-size: 0.5em;
  text-align: center;
}
