.profile-page-container {
  min-height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    img {
      margin-left: 1rem;
      width: fit-content;
      padding: 10px;
    }

    h3 {
      margin-right: 7%;
      font-size: 1.75em;
    }
  }

  .profile-page-innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5% 5% 5%;
    grid-gap: 20vw;
  }
}

@media only screen and (max-width: 425px) {
  .profile-page-container {
    span {
      margin-bottom: 1.5em;
    }

    .profile-header {
      h3 {
        margin-right: 17%;
      }
    }
    .profile-page-innerContainer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 2% 5% 5% 5%;
      grid-gap: 10vw;
    }
  }
}

@media only screen and (min-width: 768px) {
  .profile-page-container {
    .profile-header {
      h3 {
        margin-right: 17%;
      }
    }
    .profile-page-innerContainer {
      grid-gap: 35vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .profile-page-container {
    .profile-page-innerContainer {
      grid-gap: 35vw;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .profile-page-container {
    .profile-header {
      h3 {
        margin-right: 5%;
      }
    }
  }
}
