.collection-container {
  width: 90%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 2em;
}

@media only screen and (max-width: 425px) {
  .collection-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 0 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .collection-container {
    gap: 0 1em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .collection-container {
    gap: 0 4em;
  }
}
