.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
}

@media only screen and (max-width: 320px) {
  .sign-up {
    font-size: 1em;

    h2 {
      margin-right: 2em;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .sign-up {
    font-size: 1.4em;

    h2 {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .sign-up {
    width: 420px;
  }
}
