.header-container {
  font-weight: bold;
  font-size: 1.75em;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.3em;
  }

  .header-logo-container {
    margin-left: 20px;

    .header-logo {
      padding: 10px;
      width: fit-content;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .header-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    .header-option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: auto;
      height: 45px;
    }
  }

  .header-title-bm {
    margin-left: 2em;
  }

  .header-title-sm {
    margin-left: 1em;
  }

  &:hover {
    transition: 500ms ease all;
    background: #5f9bfc;
  }
}
