.header-container {
  font-weight: bold;
  font-size: 1.75em;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.3em;
  }

  .header-logo-container {
    margin-left: 20px;

    .header-logo {
      padding: 10px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .header-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    .header-option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: auto;
      height: 45px;
    }
  }

  .header-title-bm {
    margin-left: 2em;
  }

  .header-title-sm {
    margin-left: 1em;
  }

  &:hover {
    transition: 500ms ease all;
    background: #5f9bfc;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .header-container {
    font-weight: bold;
    font-size: 1.5em;
    height: 60px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .header-logo-container {
      margin-left: 0;

      .header-logo {
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .header-title {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8em;
    }

    .header-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 0;

      .header-option {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: auto;
        height: 25px;
      }
    }

    .header-title-bm {
      margin-left: 0;
    }

    .header-title-sm {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .header-container {
    font-weight: bold;
    font-size: 1.5em;
    height: 60px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    .header-logo-container {
      margin-left: 0;

      .header-logo {
        padding: 10px;
        width: 40px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .header-title {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 0;

      .header-option {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: auto;
        height: 35px;
      }
    }

    .header-title-bm {
      margin-left: 0;
    }

    .header-title-sm {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .header-container {
    .header-title {
      font-size: 1.5em;
    }

    .header-title-bm {
      margin-left: 1em;
    }

    .header-title-sm {
      margin-left: 0.5em;
    }
  }
}
