.registerNew {
  min-height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 1.5em;
    font-size: 1.5em;
  }

  .registerNew-autofill {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 12%;
    }
  }

  .registerNew-autofillHide {
    display: none;
  }

  .registerNew-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    padding-top: 2em;
    grid-gap: 20vw;
  }
}

@media only screen and (max-width: 320px) {
  .registerNew {
    .registerNew-container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      grid-gap: 5vw;
    }

    .registerNew-autofill {
      width: 250px;

      button {
        margin-right: 0;
        width: 250px;
        height: 65px;
        line-height: 1.5;
        align-items: center;
      }
    }
  }
}

// @media only screen and (min-width: 375px) and (max-width: 425px) {
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .registerNew {
    .registerNew-container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      grid-gap: 5vw;
    }

    .registerNew-autofill {
      justify-content: center;

      button {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .registerNew {
    .registerNew-container {
      grid-gap: 25vw;
    }

    .registerNew-autofill {
      button {
        margin-right: 5%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .registerNew {
    .registerNew-container {
      grid-gap: 15vw;

      .registerNew-form {
        .group {
          width: 270px;
        }
      }
    }

    .registerNew-autofill {
      button {
        margin-right: 15.5%;
      }
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .registerNew {
    .registerNew-container {
      grid-gap: 20vw;

      .registerNew-form {
        width: 400px;
      }
    }

    .registerNew-autofill {
      button {
        margin-right: 12%;
      }
    }
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .registerNew {
    .registerNew-container {
      grid-gap: 25vw;
    }

    .registerNew-autofill {
      button {
        margin-right: 16%;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .registerNew {
    h3 {
      font-size: 2em;
    }

    .registerNew-container {
      grid-gap: 25vw;

      .registerNew-form {
        .group {
          width: 385px;
        }
      }
    }

    .registerNew-autofill {
      button {
        margin-right: 21.5%;
      }
    }
  }
}
