$sub-color: grey;
$main-color: black;
$groups: 7;

@mixin shrinkLabel {
  top: -10px;
  font-size: 20px;
  color: $main-color;
}

@mixin removeShrinkLabel {
  top: -5px;
  font-size: 30px;
  color: $main-color;
}

.form-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  line-height: 2.5;

  hr {
    width: 100%;
  }

  button {
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
  }

  .group {
    position: relative;

    .form-input:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    .form-input {
      background: none;
      background-color: white;
      color: $sub-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $sub-color;
      margin: 25px 0;

      &:focus {
        outline: none;
      }
    }

    input[type="text"] {
      height: 25.5px; // ! Height is being used here because of date input field component where height is expanded when input field switches from text to date on focus
    }

    input[type="email"] {
      height: 25.5px; // ! Height is being used here because of date input field component where height is expanded when input field switches from text to date on focus
    }

    input[type="password"] {
      letter-spacing: 0.3em;
      height: 25.5px; // ! Height is being used here because of date input field component where height is expanded when input field switches from text to date on focus
    }

    input[type="checkbox"] {
      align-items: center;
      height: 15px;
    }

    .form-input-label {
      color: $main-color;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;

      &.shrink {
        @include shrinkLabel();
      }
    }
  }

  .checkboxstyle {
    display: flex;
    align-items: center;

    .form-input-label {
      color: $main-color;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: -5px;
    }

    .form-input {
      margin-left: 40%;
    }

    .form-input:focus ~ .form-input-label {
      @include removeShrinkLabel();
    }
  }

  @media only screen and (min-width: 2560px) {
    .group {
      .form-input {
        font-size: 0.65em;
      }

      .form-input-label {
        top: 5px;
        font-size: 0.85em;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .form-input-container {
    align-items: center;

    button {
      margin-left: 0;
      margin-bottom: 1em;
    }

    .checkboxstyle {
      display: flex;
      align-items: center;
      width: 30px;
      margin-left: 7em;

      .form-input-label {
        color: $main-color;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        pointer-events: none;
        left: -6em;
        top: -5px;
      }

      .form-input {
        margin-left: 0;
      }

      .form-input:focus ~ .form-input-label {
        @include removeShrinkLabel();
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .form-input-container {
    width: 300px;
  }
}
