.pet-information-page-container {
  min-height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 1.5em;
    font-size: 1.75em;
  }

  .pet-information-page-innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5% 5% 5%;
    grid-gap: 20vw;
  }
}

@media only screen and (max-width: 425px) {
  .pet-information-page-container {
    span {
      margin-bottom: 1.5em;
    }

    .pet-information-page-innerContainer {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pet-information-page-container {
    .pet-information-page-innerContainer {
      grid-gap: 35vw;
    }
  }
}
