.pet-information-page-container {
  min-height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 1.5em;
    font-size: 1.75em;
  }

  .pet-information-page-innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5% 5% 5%;
    grid-gap: 20vw;
  }
}

@media only screen and (max-width: 425px) {
  .pet-information-page-container {
    span {
      margin-bottom: 1.5em;
    }

    .pet-information-page-innerContainer {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      grid-gap: 10vw;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .pet-information-page-container {
    h3 {
      font-size: 2.3em;
      margin-top: 0.5em;
    }

    span {
      font-size: 1.3em;
    }

    .pet-information-page-innerContainer {
      .form-input-container {
        width: 280px;

        hr {
          width: 100%;
        }

        .group {
          width: 280px;

          .form-input {
            width: 265px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .pet-information-page-container {
    h3 {
      margin-top: 0.5em;
    }

    .pet-information-page-innerContainer {
      .form-input-container {
        width: 300px;

        hr {
          width: 100%;
        }

        .group {
          width: 300px;

          .form-input {
            width: 285px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pet-information-page-container {
    h3 {
      margin-top: 0.5em;
    }

    .pet-information-page-innerContainer {
      grid-gap: 25vw;

      .form-input-container {
        width: 300px;

        hr {
          width: 100%;
        }

        .group {
          width: 300px;

          .form-input {
            width: 285px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .pet-information-page-container {
    h3 {
      margin-top: 0.5em;
    }

    .pet-information-page-innerContainer {
      grid-gap: 25vw;

      .form-input-container {
        width: 400px;

        hr {
          width: 100%;
        }

        .group {
          width: 400px;

          .form-input {
            width: 385px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .pet-information-page-container {
    .pet-information-page-innerContainer {
      grid-gap: 25vw;

      .form-input-container {
        width: 400px;

        hr {
          width: 100%;
        }

        .group {
          width: 400px;

          .form-input {
            width: 385px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .pet-information-page-container {
    h3 {
      font-size: 3em;
      margin-top: 0.5em;
    }

    span {
      font-size: 1.5em;
    }

    .pet-information-page-innerContainer {
      grid-gap: 25vw;

      .form-input-container {
        width: 500px;

        hr {
          width: 100%;
        }

        .group {
          width: 500px;

          .form-input {
            width: 485px;
          }
        }
      }
    }
  }
}
