.homepage-container {
  min-height: 800px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 2.5em;
    font-size: 1.5em;
  }

  .homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

    .homepage-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .custom-button {
        display: flex;
        align-items: center;
        margin-top: 2.5em;
        width: 50%;
        height: 5em;
        line-height: 1.5;
      }

      .custom-button:first-child {
        margin-right: 2em;
      }
    }
  }
}
